button{
  color: aliceblue;
  background-color: #255;
  border: 3px solid #255;
  border-radius: 10%;
  padding: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
  font-weight: 700;
}

.header,
.grid-area{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
	top: 30px;
	outline:2px solid #000;
	font-size: 0;
	margin:5vh;
	height:800px;
	width:800px;
	padding: 0;
	border: none;
  /* overflow: auto; */
}

.grid{
  margin: 0;
  padding: 0;
  outline:1px solid #000;
  height: 50px;
  width: 50px;
  float: left;
}

.controls{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.small-grid{
  margin: 0;
  padding: 0;
  outline:1px solid #000;
  height: 12.5px;
  width: 12.5px;
  float: left;
}

.medium-grid{
  margin: 0;
  padding: 0;
  outline:1px solid #000;
  height: 25px;
  width: 25px;
  float: left;
}

.big-grid{
  margin: 0;
  padding: 0;
  outline:1px solid #000;
  height: 50px;
  width: 50px;
  float: left;
}
