:root {
  --font-family: "Roboto", sans-serif;
  --font-weight: 700;
  --dark-color: #272727;
  --white-color: #eff1f3ff;
  --rainbow-c1: rgb(233, 39, 136);
  --rainbow-c2: rgb(81, 39, 233);
}

body {
  background-color: var(--dark-color);
  color: var(--white-color);
  font-family: var(--font-family);
  font-weight: var(--font-weight);
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

p {
  align-self: center;
  font-weight: 500;
  ;
  margin: 0;
}

span {
  color: var(--white-color);
}

.title {
  font-size: 100px;
  align-self: center;
  margin: 0;
  color: #4255fb;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5vh;
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-area {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.container {
  align-self: center;
  outline: 10px solid rgb(175, 19, 65);
  margin: 5vh;
  height: 600px;
  width: 600px;
  padding: 0;
  border-radius: 0.5%;
}

.grid {
  margin: 0;
  padding: 0;
  outline: 1px solid rgb(129, 129, 129);
  background-color: var(--white-color);
  float: left;
}

.small-grid {
  height: 9.375px;
  width: 9.375px;
  float: left;
}

.medium-grid {
  height: 18.75px;
  width: 18.755px;
  float: left;
}

.big-grid {
  height: 37.5px;
  width: 37.5px;
  float: left;
}


.button {
  padding: 10px 25px;
  margin: 10px;
  color: var(--white-color);
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  border: 2px solid var(--white-color);
}

.button:hover {
  background: #4255fb;
  color: var(--white-color);
}

.button:active {
  top: 2px;
}

.clear-grid {
  color: var(--white-color);
  border: 2px solid rgb(175, 19, 65);
}

.clear-grid:hover {
  background: rgba(175, 19, 65, 0.5);
  color: var(--white-color);
}

.rainbow {
  color: var(--white-color); 
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, var(--rainbow-c1), var(--rainbow-c2));
}

.rainbow:hover {
  background-image: linear-gradient(100deg, var(--rainbow-c1), var(--rainbow-c2));
  color: var(--white-color);
}

